.nav-container {
	position: fixed;
	height: 103px;
	width: 100%;
	background: #13131320;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	margin-left: 165px;
}

.logo {
	width: 135px;
	height: 39px;
}

.nav-content {
	display: flex;
	width: 120px;
	height: 26px;
	justify-content: space-between;
	align-items: center;
}

.nav-heading {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */

	letter-spacing: -0.355556px;

	color: #ffffff;
}

.right-content {
	display: flex;
	align-items: center;
	width: 104px;
	justify-content: space-between;
	border: 1px solid red;
	margin-right: 165px;
}

.search {
	width: 24px;
	height: 24px;
}

.avatar {
	width: 48px;
	height: 48px;
}
